.choice-container {
  /*es el contenedor de las opciones y sus respuestas*/
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: rgba(215, 198, 206);
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  /* Este parte le da estilos a las letras ABCD */
  padding: 1.5rem 2.5rem;
  background-color: #08467c;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%; /*engloba todo el párrafo como respuesta*/
}
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}
/* HUD */
/* HUD */

#hud {
  display: flex; /*this put things side by side horizontally*/
  justify-content: space-between; /*this puts space between elements and push them to the outside edges*/
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
