@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");
body {
  background-color: rgb(57, 56, 87);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
  color: antiquewhite;
  padding: 0;
  margin: 0;
  /* padding y margin 0 that way anything inside the body element will touch the edges of the browser */
}
h1 {
  font-family: "IBM Plex Mono", monospace;
}
p {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.start-quiz,
.pregunta1,
.pregunta2,
.pregunta3,
.reiniciar,
.finalizar {
  display: none;
}

.button {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  padding: 1.3rem;
  background-color: #aac3eb;
  color: black;
  border-radius: 20px;
  border: none;
  display: block;
  cursor: pointer;
}
.button:hover {
  background-color: pink;
}
.button:focus {
  outline: none;
  background-color: rgb(144, 141, 146);
}
