@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");
body {
  background: linear-gradient(
    19.44deg,
    rgb(23, 126, 32) 1.62%,
    rgb(89, 91, 234) 95.72%
  );
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
  color: antiquewhite;
  padding: 0;
  margin: 0;
  /* padding y margin 0 that way anything inside the body element will touch the edges of the browser */
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  margin: 30px 25px 0px 25px;
}
p {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.intro {
  background: rgb(75, 85, 163);
  border: 1px solid #000000;
  border-radius: 50px;
}

.input,
.button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.5em;
  padding: 0.8rem;
  background-color: #aac3eb;
  color: black;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 25px auto;
  display: block; /*display:block y margin:auto permiten centrar los botones*/
}
form input:focus {
  outline: none;
}
.input {
  width: 70%;
}
.input:hover {
  background-color: rgb(255, 252, 252);
}
::placeholder {
  opacity: 1;
}
.button {
  cursor: pointer;
}
.button:hover {
  background-color: rgb(33, 186, 120);
}
.button:focus {
  outline: none;
  background-color: rgb(144, 141, 146);
}
.img {
  max-width: 350px;
  max-height: 350px;
}
.start-quiz,
.pregunta1,
.pregunta2,
.pregunta3,
.reiniciar,
.finalizar {
  display: none;
}
