* {
  background-color: #2f4a92;
  margin: 0;
  padding: 0;
  color: antiquewhite;
}
.pregunta1,
.pregunta2,
.pregunta3,
.reiniciar,
.finalizar {
  display: none;
}
.image {
  max-width: 30%;
  height: auto;
}
.cat {
  max-width: 50%;
  height: auto;
}
button {
  text-align: center;
  font-size: 15px;
  background-color: #e232c1;
  color: black;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  margin: 10px;
  font-family: arial blak;
}
