@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");
/* Voy a usar :root para poder aplicar medidas relativas rem y em */
:root {
  background: linear-gradient(
    19.44deg,
    rgb(228, 151, 214) 1.62%,
    rgb(86, 147, 240) 95.72%
  );
  font-size: 62.5%; /*16px is the dafuault size so 62.5% is 10px the root font size is 10px*/
}
* {
  box-sizing: border-box; /*This  means if I add a border to a box it's gonna include the width of that border in calculated REPASAR */
  padding: 0;
  margin: 0;
  /* padding y margin 0 that way anything inside the body element will touch the edges of the browser */
}
body {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  height: 100vh;
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  margin: 30px 25px 15px 25px;
  font-size: 1.5em;
  color: white;
}
.intro {
  border: 1px solid #000000;
  border-radius: 35px;
  align-items: center;
  margin: auto;
  background-color: rgb(54, 82, 161);
}
.input {
  background-color: #94b3e5;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2em;
  text-align: center;
  padding: 0.8rem;
  color: black;
  border-radius: 5px;
  border: 1px solid #000000;
  /* width: ; */
  margin: 25px auto;
  display: block; /*display:block y margin:auto permiten centrar los botones*/
}
input:focus {
  outline: none; /*elimina el borde interno*/
}
.submit {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  background-color: #94b3e5;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 25px auto;
  display: block; /*display:block y margin:auto permiten centrar los botones*/
  width: 60%;
  cursor: pointer;
}
.submit:hover {
  background-color: rgb(33, 186, 120);
}
.answer {
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  background-color: #94b3e5;
  padding: 0.8rem;
  border-radius: 25px;
  border: 1px solid #000000;
  display: flex;
  margin: 15px auto;
  width: 60%;
}
.answer:hover {
  background-color: rgb(236, 118, 159);
}
.answer:focus {
  outline: none;
  background-color: rgb(224, 167, 34);
}
img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.start-quiz,
.pregunta1,
.pregunta2,
.pregunta3,
.reiniciar,
.finalizar {
  display: none;
}
