@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(57, 56, 87);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: antiquewhite;
}
.intro {
  background-image: url(https://wallpapercave.com/uwp/uwp2288112.jpeg);
  background-size: cover;
}
.start-quiz,
.pregunta1,
.pregunta2,
.pregunta3,
.reiniciar,
.finalizar {
  display: none;
}

button {
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
  background-color: #aac3eb;
  color: black;
  border-radius: 20px;
  border: none;
  display: block;
  cursor: pointer;
}
button:hover {
  background-color: pink;
}
button:focus {
  outline: none;
  background-color: rgb(144, 141, 146);
}
